*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





.container{
    width: 100%;
    height: 84vh;
    position: relative;

    p{
        color: rgb(26, 3, 3);
        padding: 50px;

    }



    video{
        width: 100%;
        height: 83%;
        display: block;
        object-fit: cover;
        position:fixed;
    }

    .box{
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 150px;
    
        background: #000800;
        transform: translateY(300%);
        display: flex;
        justify-content: center;
        align-items: center;
    

        h2{

            font-size: 50px;
            color:white;
            font-weight: 100;
            letter-spacing: 3px;
            text-align: center;
        }
    }

    // .bg-image1{
    //         background: url('/images/otherbanner.jpeg') no-repeat center;
    //         background-size: cover;
    // }
 }
 
 
.content{
    width: 100%;
    height: 350px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    h2{
        font-size: 3em;
        letter-spacing: 3px;
        font-weight: 800;
        padding:30px;

        
    }

    p{
        margin-left: 80px;
        margin-right: 80px;;
        font-size: 1.5em;
        letter-spacing: 2px;
        line-height: 1.5;
      }


}


.bg-image1{

    width: auto;
    height: 250%;
    
    
    


   

}

.bg-image2{
    background: url('../images/skybann.jpg') no-repeat center;
    background-size: cover;

    width: auto;
    height: 65vh;

}


.bg-image3{
    
    background-size: cover;

    width: auto;
    height: 65vh;

}

